{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<section class="ftco-section ftco-cart">
	<div class="container">
    <form class="form-horizontal text-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control " type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'order_details' headers.pk %}">
            Вернуться
        </a>
    </button>
</div>
</section>
{% endblock content %}